@import "tailwindcss";
html,
body{
    height:100%;
    width: 100%;
}

h1{
    position: absolute;
    top: 50%;
     left: 50%;
     font-size: 50px;
     text-decoration:underline;
     transform: translate(-50%,-50%);
     white-space:underline;


}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgb(10,117,146);
}
.nav div{
    display:flex;
    align-items: center;
    gap:40px;
    background-color: aliceblue;
}